<!DOCTYPE html>
<html lang="en">
<head>

    <title>Team 404 - Airbnb Analysis</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/templatemo-style.css">
</head>
<body>


<section class="preloader">
    <div class="spinner">
        <span class="spinner-rotate"></span>
    </div>
</section>



<section class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>


            <a href="/" class="navbar-brand">Team 404 Project </a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-nav-first">
                <li><a href="#home" class="smoothScroll">Home</a></li>
                <li><a href="#about" class="smoothScroll">Problem Statement</a></li>
                <li><a href="#blog" class="smoothScroll">Dashboards</a></li>
                <li><a href="#work" class="smoothScroll">Team</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fa fa-github"></i></a></li>
            </ul>
        </div>

    </div>
</section>


<!-- HOME -->
<section id="home" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-12">
                <div class="home-info">
                    <h1>Analysis of Airbnb Project</h1>
                    <a href="#about" class="btn section-btn smoothScroll">Dive Deeper!</a>

                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="home-video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/nMITXMrrVQU" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- ABOUT -->
<section id="about" data-stellar-background-ratio="0.5" style="margin-top: -100px">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6">
                <div class="about-info">
                    <div class="section-title">
                        <h2>Problem Statement</h2>
                        <span class="line-bar">...</span>
                    </div>
                    <h3>Anaylyzing the rental landscape of major Canadian cities using Airbnb dataset.</h3>
                    <h4>One of the the most important criteria to get more bookings for a listing on Airbnb is to become a superhost.
                    Our primary focus of this project is to identify the key features that enable a host to become superhost.
                        Along with that we have also created many visualizations that that help again insights on the listings and sentiment analysis of the reviews.
                    </h4>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="about-info skill-thumb">

                    <h3>Technologies used</h3>
                <br/>
                    <p><strong>Apache Spark</strong></p>
                    <p><strong>Apache Presto</strong></p>
                    <p><strong>Apache Hive</strong></p>
                    <p><strong>AWS S3</strong></p>
                    <p><strong>AWS Atena</strong></p>
                    <p><strong>AWS Redshift</strong></p>
                    <p><strong>AWS Quicksight</strong></p>
                    <p><strong>Tableau</strong></p>

                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="about-image">
                    <img src="images/spark_logo.png" class="img-responsive" alt="" style="height: 100%; width: 100%">
                    <img src="images/aws_emr.png" class="img-responsive" alt="" style="height: 100%; width: 100%">
                </div>
            </div>

        </div>
    </div>
</section>


<!-- BLOG -->
<section id="blog" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>DASHBOARDS</h2>
                    <span class="line-bar">...</span>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <!-- BLOG THUMB -->
                <div class="media blog-thumb">
                    <div class="media-object media-left">
                        <a href="/dashboards/2"><img src="images/piechart4.png" class="img-responsive" alt=""></a>
                    </div>
                    <div class="media-body blog-info">
                        <h3><a href="/dashboards/2">Donut Dashboard.</a></h3>
                        <p>A Donut dashboard - for various room types in Montreal, Toronto and Vancouver</p>
                        <a href="/dashboards/2" class="btn section-btn">Explore</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <!-- BLOG THUMB -->
                <div class="media blog-thumb">
                    <div class="media-object media-left">
                        <a href="/dashboards/1"><img src="images/geo_listings.png" class="img-responsive" alt=""></a>
                    </div>
                    <div class="media-body blog-info">
                        <h3><a href="/dashboards/1">Geo-plot of Listings based upon their Sentiment Analysis score.</a></h3>
                        <p>This dashboard shows a geo-plot of all listings in Montreal, Vancouver and Toronto. </p>
                        <a href="/dashboards/1" class="btn section-btn">Explore</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <!-- BLOG THUMB -->
                <div class="media blog-thumb">
                    <div class="media-object media-left">
                        <a href="/dashboards/3"><img src="images/scatter.png" class="img-responsive" alt=""></a>
                    </div>
                    <div class="media-body blog-info">
                        <h3><a href="/dashboards/3">Scatter Plot dashboard</a></h3>
                        <p>Scatter plotting showing the host response rate versus number of reviews and how it reflect whether a host is a superhost.</p>
                        <a href="/dashboards/3" class="btn section-btn">Explore</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <!-- BLOG THUMB -->
                <div class="media blog-thumb">
                    <div class="media-object media-left">
                        <a href="/dashboards/4"><img src="images/cancellation.png" class="img-responsive" alt=""></a>
                    </div>
                    <div class="media-body blog-info">
                        <h3><a href="/dashboards/4">Dashboard showing Cancellation Policy</a></h3>
                        <p>Plot showing number of reviews and price for a listing based upon the cancellation policies for various listings</p>
                        <a href="/dashboards/4" class="btn section-btn">Explore</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- WORK -->
<section id="work" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Our Team</h2>
                    <span class="line-bar">...</span>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="work-thumb">
                    <a href="images/sfu_data.png" class="image-popup">
                        <img src="images/sfu_data.png" class="img-responsive" alt="Work">
                        <div class="work-info">
                            <h3>Chidambaram Allada</h3>
                            <br/>
                            <small>MSc. CS | Big Data @ SFU </small>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="work-thumb">
                    <a href="images/sfu_data.png" class="image-popup">
                        <img src="images/sfu_data.png" class="img-responsive" alt="Work">
                        <div class="work-info">
                            <h3>Peshotan Irani</h3>
                            <br/>
                            <small>MSc. CS | Big Data @ SFU </small>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="work-thumb">
                    <a href="images/sfu_data.png" class="image-popup">
                        <img src="images/sfu_data.png" class="img-responsive" alt="Work">

                        <div class="work-info">
                            <h3>Mrinal Gosain</h3>
                            <br/>
                            <small>MSc. CS | Big Data @ SFU </small>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="work-thumb">
                    <a href="images/sfu_data.png" class="image-popup">
                        <img src="images/sfu_data.png" class="img-responsive" alt="Work">

                        <div class="work-info">
                            <h3>Manju Malateshappa</h3>
                            <br/>
                            <small>MSc. CS | Big Data @ SFU </small>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- CONTACT -->


<!-- FOOTER -->
<footer data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-sm-12">
                <div class="footer-thumb footer-info">
                    <h2>Team 404</h2>
                    <p>Please contact us at team404officialid@gmail.com</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="google-map">
                    <!-- How to change your own map point
                            1. Go to Google Maps
                            2. Click on your location point
                            3. Click "Share" and choose "Embed map" tab
                            4. Copy only URL and paste it within the src="" field below
                    -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10412.736946209248!2d-122.91942493688818!3d49.27290610116686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sca!4v1575505185876!5m2!1sen!2sca" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>

        </div>
    </div>
</footer>


<!-- MODAL -->

<!-- SCRIPTS -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/smoothscroll.js"></script>
<script src="/js/custom.js"></script>

</body>
</html>